<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoginURL" value="Login.aspx"/>
    <add key="StartURL" value="upload_image.aspx"/>

    <add key="HomeURL" value="Home.aspx"/>

    <add key="UploadImageURL" value="upload_image.aspx"/>
    <add key="ImageManagerListURL" value="ImageManagerList.aspx"/>
    <add key="ImageManagerDetailURL" value="ImageManagerDetail.aspx"/>

    <add key="CollectionManagerListURL" value="CollectionManagerList.aspx"/>
    <add key="CollectionManagerDetailURL" value="CollectionManagerDetail.aspx"/>
    <add key="CollectionManagerAddSelectURL" value="CollectionManagerAddSelect.aspx"/>
    <add key="CollectionManagerApplyLayoutURL" value="CollectionManagerApplyLayout.aspx"/>
    <add key="CollectionManagerApplyLayoutDetailURL" value="CollectionManagerApplyLayoutDetail.aspx"/>

    <add key="DeepZoomViewerURL" value="../sl/TestPage.html"/>

    <add key="UploadLayoutURL" value="upload_layout.aspx"/>
    <add key="LayoutManagerListURL" value="LayoutManagerList.aspx"/>
    <add key="LayoutManagerDetailURL" value="LayoutManagerDetail.aspx"/>
    
  </appSettings>
  <connectionStrings />

  <system.web>
    <!-- compilation debug="true" / -->
  </system.web>
</configuration>
