<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="MaxNumResultsForDynamicSearch" value="100"/>
  </appSettings>

  <connectionStrings>
    <!-- connection setting for local DB -->
    <!--
    <add name="LocalJFish" connectionString="SERVER=(local)\SQLEXPRESS;DATABASE=jellyfish_db;INTEGRATED SECURITY=sspi;" providerName="System.Data.SqlClient"/>
-->
    <!-- connection setting for VS2008-App_Data DB -->
    <add name="LocalJFish" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;AttachDBFilename=|DataDirectory|jellyfish_db.mdf;User Instance=True"/>

  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <compilation debug="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" path="/admin" />
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>

  <system.codedom>

    <compilers>
      <!-- For C# -->
      <!--
      <compiler language="c#;cs;csharp" extension=".cs"
        compilerOptions="/docpath:C:\dev\WebSites\jellyfish\docs"
        type="EWSoftware.CodeDom.CSharpCodeProviderWithDocs,
            EWSoftware.CodeDom, Version=1.0.0.0, Culture=neutral,
            PublicKeyToken=d633d7d5b41cbb65" />
      -->
    </compilers>

  </system.codedom>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
  </system.webServer>

  <location path="admin/upload_image.aspx">
    <system.web>
      <!-- Max Data Size to post the data is 10Mbytes, Exec Time Out is 2 minutes. -->
      <httpRuntime maxRequestLength="10000"
        executionTimeout="120" />
    </system.web>
  </location>

</configuration>
